<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrabid.hhis">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Helper.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="HHIS"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="HHIS"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetailRiwayatPasienActivity" />
        <activity android:name=".DetailArtikelActivity" />
        <activity
            android:name=".MainsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignInActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".SettingActivity" />
        <activity
            android:name=".SignUpActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".NextSignUpActivity" />
        <activity android:name=".Activity.ArtikelActivity" />
        <activity android:name=".Activity.RiwayatPasienActivity" />
        <activity
            android:name=".Activity.BeforeMainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.DetailDokterActivity"></activity>
    </application>

</manifest>